.registerForm {
  max-width: 500px;
  margin: 8rem auto;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;

  @media (max-width: 600px) {
    padding: 1.5rem;
  }
}

button {
  margin-top: 1rem;
}

.link {
  text-decoration: none;
  color: #1976d2;
  &:hover {
    text-decoration: underline;
  }
}
